{% extends 'base.html' %}

{% block content %}
  <h1 class="my-4">Проверка номера телефона</h1>

  <form method="post" class="border rounded p-3 mb-4" novalidate>
    <div class="mb-3">
      <label class="form-label" for="phone">Номер телефона</label>
      <input
        class="form-control {% if error %}is-invalid{% endif %}"
        id="phone"
        name="phone"
        type="text"
        value="{{ phone_number }}"
      >
      {% if error %}
        <div class="invalid-feedback">
          {{ error }}
        </div>
      {% endif %}
    </div>
    <button class="btn btn-primary" type="submit">Проверить</button>
  </form>

  {% if formatted_phone %}
    <div class="alert alert-success">
      {{ formatted_phone }}
    </div>
  {% endif %}
{% endblock %}
